menu-catador-register {
    ion-content {
        background-image: url('../assets/img/fundo-papelao.jpg') !important;
        background-repeat: no-repeat;
        background-position: top; 
        background-size: 100% 100%;
    }
}

