.menu-support {
    background-color: color($colors, background);
}

h1 {
    font-family: 'Overpass';
    font-weight: 900;

    small {
        font-weight: 400;
        font-size: 1em;
        color: black;
        display: block;
        margin-top: 5px;
    }
    margin: 0;
}

p {
    -webkit-margin-before: 0;
}

hr {
    background-color: #f5f5f5 !important;
}

.header-text {
    font-size: 20px;
}

.link {
    color: color($colors, primary);
}

.body-titlle {
    font-weight: 600;
    font-size: 2rem;
}