#residue-detail {
    background-image: url('../assets/img/papelao.png') !important;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top; 
    min-height: 70%;
}

.avatars {
    text-align: center;
}

.avatars img {
    width: 20%;
}

#buttons {
    button: 0;
}