.btn-control {
    background: #7bd9a2;
}

.active{
    background: #00b544;
}

.history-imb-box {
    width: 100%;
    position: fixed;
    bottom: 60px;
    margin-left: -26px;
}

.history-person-img {
    float: right;
    width: 200px;
}

.history-carroca-img {
    width: 100%;
}