<ion-header>
  <ion-navbar>
  </ion-navbar>
  <img width="50" height="50" src="{{ usuario?.photo }}" *ngIf="!usuario?.photo">
  <img width="50" height="50" src="{{ usuario?.photo }}" *ngIf="usuario?.photo">
</ion-header>


<ion-content padding>
  
  <p text-center><a href="">Alterar FOTO</a></p>


<div id="perfil-gerador">
    <h1>{{ usuario?.first_name }} {{ usuario?.last_name }}</h1>
    <a href="#" (click)="mudarNome()">Alterar Nome</a>
    <h2>{{ usuario?.email }}</h2>
    <p><a href="#">Alterar Email</a> / <a href="#">Alterar Senha</a></p>
</div>

<h3>Conectado com: <img src="assets/img/Icones_mapamenu-03.png" alt="Facebook" width="15%"></h3>

<h1 text-center>Histórico de coletas</h1>

<ion-list>
    <ion-item>
        <ion-row>
            <ion-col col-4>
                <h2>COLETA #1</h2>
                <p>03/05/2016 <br>às 14:30</p>
            </ion-col>
            <ion-col col-8>
                <img src="assets/img/avatar.png" alt="Catador" width="30%">
                <img src="assets/img/avatar.png" alt="Resíduo" width="30%">
            </ion-col>
        </ion-row>
    </ion-item>
        <ion-item>
        <ion-row>
            <ion-col col-4>
                <h2>COLETA #2</h2>
                <p>03/06/2017 <br>às 11:30</p>
            </ion-col>
            <ion-col col-8>
                <img src="assets/img/avatar.png" alt="Catador" width="30%">
                <img src="assets/img/avatar.png" alt="Resíduo" width="30%">
            </ion-col>
        </ion-row>
    </ion-item>
</ion-list>
  
</ion-content>
