.praondevamos{
    background-color: color($colors, background);
}

p {
    text-align: left !important;
    font-size: 1em;
    margin-bottom: 5px;
}

.menuLinkSlideGrid {
    width: 94%;
    bottom: 66px;
}

.btn-control {
    background: #868686;
}

.active{
    background: #00b544;
}

.praondevamos-imb-box {
    width: 100%;
    position: fixed;
    bottom: 60px;
    margin-left: -26px;
}

.praondevamos-img {

}