.praondevamos{
    .ionSlide1, .ionSlide2{
        p{
            strong{
                display: inline;
            }
        }
    }

    .btn-control {
        background: #7bd9a2;
    }

    .active{
        background: #00b544;
    }
}