<ion-content cache-view="false">

    <div (click)="close()" class="close-box">
        <div class="close-btn">X</div>
    </div>
    <ion-slides class="materialSliderSlides">
        <ion-slide *ngFor="let slide of sliders; let i of index;" class="scroll-content">
            <img src="{{ slide.bg }}" alt="Metarial Slider Icon" class="material-bg">
            
            <div class="content-box">
                <h1>{{ slide.name }}</h1><br>
                <p *ngFor="let listitem of slide.list">{{ listitem }}</p>

                <div class='hr-box'>
                    <hr class="hr">
                    <img src='{{ slide.icon }}' alt=''>
                </div>

                <div class="desc-box">
                    <p class="font-green">{{slide.desc}}</p>
                </div>

            </div>
        </ion-slide>
    </ion-slides>
    
    <div class="slideMove">
        <button class="slideleftArrow" (click)="goToLeft()"><img src="assets/img/greenArrowLeft.png" alt="Arrow"></button>
        <button class="slideRightArrow" (click)="goToRight()"><img src="assets/img/greenArrowRight.png" alt="Arrow"></button>
    </div>

</ion-content>