<!--<ion-header>
  <ion-navbar color="brown" class="metarial_navbar">
      <ion-title class="metarial_title">METARIAL</ion-title>
  </ion-navbar>
</ion-header>-->

<ion-content text-center cache-view="false">

    <ion-slides class="materialSliderSlides">

        <ion-slide *ngFor="let slide of sliders; let i of index;">
            <img src="{{slide.icon}}" alt="Metarial Slider Icon" class="materialIcon">
            <h3>{{slide.name}}</h3>
            <ion-list>
                <ion-item *ngFor="let listitem of slide.list">{{listitem}}</ion-item>
            </ion-list>            
            <h4>{{slide.subdesc}}</h4>
            <p>{{slide.desc}}</p>
        </ion-slide>

    </ion-slides>
    <div class="slideMove">
        <button class="slideleftArrow" (click)="goToLeft(i)"><img src="assets/img/greenArrowLeft.png" alt="Arrow"></button>
        <button class="slideRightArrow" (click)="goToRight(i)"><img src="assets/img/greenArrowRight.png" alt="Arrow"></button>
    </div>

</ion-content>