.cadastro-catador-web {
    background-color: color($colors, background);
}

.link {
    color: color($colors, primary);
}

h1 {
    font-family: 'Overpass';
    font-weight: 900;

    small {
        font-weight: 400;
        font-size: 1em;
        color: black;
        display: block;
        margin-top: 5px;
    }
    margin: 0;
}

p {
    -webkit-margin-before: 0;
}