intro-slide {
    
    .scroll-content {
        padding: 0px !important;
        background-color: #cdd6c0;
    }

    .close-box {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 7px;
        background-color: #00ba46;
        border-bottom-left-radius: 26px;
    }

    .close-btn {
        font-size: 23px !important;
        background-color: unset;
        font-weight: 500;
        color: #ffffff;
    }

    .title {
        margin-top: 50px;
    }

    .slide-menu-middle-row {
        height: 100%;
    }

    ion-slide p {
        font-weight: bold;
        font-size: 20px !important;
    }

    .next-arrow {
        background-color: #00ba46;
        color: white;
        font-size: 20px;
        padding: 5px;
        width: 50px;
        border-radius: 5px;
        float: right;
    }

}