<ion-header>
  <ion-navbar>
      <ion-title class="titleText">CONFIRMAR COLETO</ion-title>
  </ion-navbar>
  <!--<img width="50" height="50" src="{{ usuario?.photo }}" *ngIf="!usuario?.photo">
  <img width="50" height="50" src="assets/img/avatar.png" *ngIf="usuario?.photo">-->
</ion-header>


<ion-content class="coletaAbertaContent">
    <ion-card class="bodyCard">
        <h2>Oi, Da Licenca?</h2>
        <p>Ja faz 12h desde que voce marcou isso aqui, o:</p>
    </ion-card>
    <ion-card class="bgCard">
        <div class="imgDiv">
            <img src="assets/img/userImage2.png" alt="User Image" class="userImage2">
            <img src="assets/img/userImage1.png" alt="User Image" class="userImage1">
        </div>
        <h2>Coleta #3 <small>por</small><br>Jorge Dos Santos</h2>
        <p>Av Nova de Julho, 3223 - <br>Jardim Paulista, Sao Paulo.</p>
        <h3>Dia 03/05 as 14h30</h3>
        <ion-list>
            <ion-item>
                <img src="assets/img/Icones_materiais-28.png" alt="Icones Materiais">
            </ion-item>
            <ion-item>
                <img src="assets/img/Icones_materiais-23.png" alt="Icones Materiais">
            </ion-item>
            <ion-item>
                <img src="assets/img/Icones_materiais-18.png" alt="Icones Materiais">
            </ion-item>
        </ion-list>               
    </ion-card>
    <ion-card class="btnCard">
        <button ion-button>Nao Rolou</button>
        <button ion-button class="rightBtn">Rolou</button>
    </ion-card>
</ion-content>
