home-page {

    .homeContent {
        position: relative;
        transition: 1s all ease-in-out;
        box-shadow: 2px 2px 2px grey;
    }

    .top input {
        margin-top: 5px;
        // background-color: rgb(134,22,28) !important;
        border-radius: 50px !important;
        padding: 5px 5px !important;
        border: none !important;
        height: auto !important;
        width: 70% !important;
        text-align: center !important;
        // color: white !important;
    }
    
    .top input:focus {
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    .top button {
        margin-top: -8px;
    }

    #map {
        height: 93%;
        position: relative;
        z-index: 111;
    }

    #profileDiv {
        height: 0%;
        transition: height 1s;
        -webkit-transition: height 1s;
        position: relative;
        bottom: -20px;
        z-index: 2222;
        width: 100%;
        background: #fff;
        padding: 0px !important;
        color: #fff;
    }

    .closeDiv{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        background: #ccc;
        border-radius:4px;
        color: #121212;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        display: block;
        line-height: 15px;
        z-index: 3333;
        display: none;
    }

}