home-page {

    .homeContent {
        position: relative;
        transition: 1s all ease-in-out;
        box-shadow: 2px 2px 2px grey;
    }

    .scroll-content {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    .top {
        background-color: #40a926;
    }

    .top ion-icon {
        color: white;
        font-size: 25px;
    }

    #map {
        height: 95%;
        position: relative;
        // z-index: 111;
    }

    #profileDiv {
        height: 0%;
        transition: height 1s;
        -webkit-transition: height 1s;
        position: relative;
        bottom: -20px;
        z-index: 2222;
        width: 100%;
        background: #fff;
        padding: 0px !important;
        color: #fff;
    }

    .closeDiv{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 24px;
        height: 24px;
        background: #ccc;
        border-radius:4px;
        color: #121212;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        display: block;
        line-height: 15px;
        z-index: 3333;
        display: none;
    }

}