menu-cadastro {

    ion-content {
        background-image: url('../assets/img/fundo-papelao.jpg') !important;
        background-repeat: no-repeat;
        background-position: top; 
        background-size: 100% 100%;
    }
    
    .text{
        text-transform: uppercase;
    }

    h1 {
        color: color($colors, dark);
        font-size: 3em;
    }

    .menuHeading{
        font-size: 3em;
        color: #222;
    }

}    

.mainContentDiv .pageContent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.pageTitle {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}
