<ion-content id="page-perfil-cooperativa">
    
    <div [hidden]="!cooperativa?.image">
        <div class="profile-header-background"></div>
        <img src="{{ cooperativaImg }}" class="img-profile" 
                (error)="photoOnError()">
    </div>
    <!-- <div *ngIf="!catador?.profile_photo" style="margin-top: 50px !important"></div> -->
    <div *ngIf="!catador?.profile_photo"></div>
    
    <h1 text-center class="cooperativa-name" style="margin-bottom: 0px;">
        {{ cooperativa?.name }}
    </h1>
        
    <!-- <h3 text-center class="catador-nickname">({{ catador?.nickname }})</h3> -->
    
    <div *ngIf="cooperativa?.phrase">
        <h2 text-center>"{{ cooperativa?.phrase }}"</h2>
    </div>   

    <div>
        <h3 text-center>{{ cooperativa?.address }}</h3>
        <h3 text-center style="color: black" [hidden]="!cooperativa?.region_where_operates">Região onde opera:</h3>
        <h3 text-center [hidden]="!cooperativa?.region_where_operates">{{ cooperativa?.region_where_operates }}</h3>
    </div>

    <div>
        <h3 text-center style="color: black" 
                [hidden]="!cooperativa?.how_many_cooperators">Total de colaboradores</h3>
        <h3 text-center>{{ cooperativa?.how_many_cooperators }}</h3>
    </div>

    <div>
        <h3 text-center style="color: black" 
                [hidden]="!cooperativa?.email">E-mail</h3>
        <h3 text-center>{{ cooperativa?.email }}</h3>
    </div>

    <div>
        <h3 text-center style="color: black" 
                [hidden]="!cooperativa?.email">Fundado em</h3>
        <h3 text-center>{{ cooperativa?.founded_in }}</h3>
    </div>

    <ion-row class="row-center slider-row" [hidden]="material_list.length <= 0">
        <ion-col col-1 class="col-center" (click)="scrollSlideToLeft()"
                [hidden]="material_list.length <= 4">
            <ion-icon class="material-left-arrow" name="ios-arrow-back"></ion-icon>
        </ion-col>
        <ion-col col-10>
            <div class="material-slide" id="material-slide">
                <div *ngFor="let material of material_list" class="material-slide-item">
                    <img src="assets/img/{{ material.icon }}" alt="{{ material.name }}" width="80%" class="material-img">
                    <p text-center class="material-name" text-wrap>{{ material.name }}</p>
                </div>
            </div>        
        </ion-col>
        <ion-col col-1 class="col-center" (click)="scrollSlideToRight()"
                [hidden]="material_list.length <= 4">
            <ion-icon class="material-right-arrow " name="ios-arrow-forward"></ion-icon>
        </ion-col>

        <!-- <ion-col col-3 *ngFor="let material of material_list">
            <img src="assets/img/{{ material.icon }}" alt="{{ material.name }}" width="80%" class="material-img">
            <p text-center>{{ material.name }}</p>
        </ion-col> -->
    </ion-row>

</ion-content>















<!-- <ion-content padding>
    <p *ngFor="let i of generateArray(cooperativa)" ng-if="cooperativa.id">
        <b>{{ i.key }}: </b> {{ i.value }} <br>
    </p>
</ion-content> -->