// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face{
    font-family: 'Brizzush-Rough';
    src: url('../assets/fonts/Brizzush-Rough.ttf')
}

@font-face{
    font-family: 'DIN-Bold';
    src: url('../assets/fonts/DIN-Bold.ttf')
}

@font-face{
    font-family: 'DIN-Regular';
    src: url('../assets/fonts/DIN-Regular.ttf')
}



h1 {
    font-family: "Brizzush-Rough";
    color: #298336;
}

h2, h3 {
    font-family: "DIN-Bold";
    color: #298336;
}

p {
    font-family: "DIN-Regular";
    color: #252323;
}

