// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face{
    font-family: 'Brizzush-Rough';
    src: url('../assets/fonts/Brizzush-Rough.ttf')
}

@font-face{
    font-family: 'DIN-Bold';
    src: url('../assets/fonts/DIN-Bold.ttf')
}

@font-face{
    font-family: 'DIN-Regular';
    src: url('../assets/fonts/DIN-Regular.ttf')
}

@font-face {
    font-family: 'FontAwesome';
    src:url('../assets/fonts/fontawesome-webfont.eot');
    src:url('../assets/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../assets/fonts/fontawesome-webfont.woff') format('woff'),
        url('../assets/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../assets/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: "Brizzush-Rough";
    color: color($colors, green);
}


ion-title {
    font-family: "Brizzush-Rough";
    color: color($colors, green);
}

h2, h3 {
    font-family: "DIN-Bold";
    color: color($colors, green);
}

p {
    font-family: "DIN-Regular";
    color: #252323;
    font-size: 1.2em;
}

.tabs-md .tabbar, .tabs-ios .tabbar, .tabs-wp .tabbar {
    background-color: color($colors, secondary);

    ion-icon {
        color: color($colors, light);
    }

    // Changin collor of the active tab
    .tab-button[aria-selected=true] .tab-button-icon {
        color: color($colors, green);
    }
}

// Fundo de pepelão
.toolbar-background {
    background-image: url('../assets/img/topo_papelao.jpg') !important;
    background-repeat: no-repeat;
    background-position: top; 
    background-size: 100% 100%;
}

/* Font awsome */

.ion-tab-fa-anchor:before   {
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 72%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ion-tab-fa-anchor:before {
  content: "\f13d"; }

.icon-google-wallet:before {
    font-family: "fontawesome";
    content: "\f1ee";
}

ion-app._gmaps_cdv_ .nav-decor{
  background-color: transparent !important;
  display: none !important;

}