page-tutorial {
    
    .scroll-content {
        padding: 0px !important;
        background-color: #cdd6c0;
    }

    .tutorial {
        padding: 0px !important;
    }

    .grid {
        padding: 0px !important;
    }

    .top-col {
        padding: 1px !important;
    }

    .tutorial-col {
        padding: 0px !important;
        height: 100%;
    }

    .tutorial-slides {
        height: 100%;
    }

    .tutorial-slide {
        width: 100% !important;
        height: 100% !important;
    }

    .swiper-slide img {
        // margin-top: -25px;
    }

    .menuLinkSlideGrid {
        width: 100%;
        bottom: unset;
        position: relative;
    }

    .menuLinkSlideGrid ion-row .step {
        width: 8%;
        height: 25px;
        line-height: 25px;
        display: inline-block;
        vertical-align: middle;
        max-width: 25px;
    }

    .close-box {
        position: absolute;
        top: 2px;
        right: 2px;
    }

    .close-btn {
        font-size: 27px !important;
        background-color: unset;
        font-weight: 500;
        color: #ffffff;
    }

    .close-text {
        color: #ffffff;
    }

    .slide-menu-top-row {
        align-items: center;
    }

    .slide-menu-middle-row {
        height: 100%;
    }

    // slides

    .ionSlide1 {
        height: 100%;
        width: 100%;
    }

    .ionSlide1 .top-box, .ionSlide2 .top-box {
        position: absolute;
        top: 0px;
        width: 100%;
        background-color: #cdd5c0;
        padding-bottom: 10px;
    }

    .ionSlide1 .top-box p {
        font-size: 18px !important;
    }

    .ionSlide1 .top-box img {
        width: 220px;
    }

    .ionSlide2 .top-img {
        width: 80%;
    }

    .middle-img {
        height: 350px;
        width: 100%;
    }

    .ionSlide1 .middle-box {
        height: 415px;
    }

    .bottom-box {
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: #cdd5c0;
        padding: 10px;
    }

    .bottom-box .img-1 {
        width: 40px;
        height: auto;
    }

    .bottom-box .img-2 {
        width: 20px;
        height: auto;
    }

    .bottom-box p {
        font-size: 15px !important;
    }

    .ionSlide2 .bottom-box {

    }

    .ionSlide3 {

    }

    .bg-logo::after {
        content: "";
        background: url("/assets/img/tutorial/marca.png");
        background-repeat: no-repeat;
        opacity: 0.2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
    }

    .menu-img {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .text {
        // border: 1px solid white;
        border-radius: 10px;
        padding: 10px;
        position: absolute;
        font-size: 14px;
        width: 200px;
        opacity: 0.7;
    }

    .text:before {
        content: "";
        position: absolute;
        top: 99%;
        left: 20px;
        width: 0;
        border-top: 15px solid black;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    .ionSlide3 .text {
        width: 230px;
    }

    .ionSlide3 .text-1 {
        background-color: #23c1e5;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);

    }

    .ionSlide3 .text-1:before {
        border-top: 15px solid #23c1e5;
    }

    .ionSlide3 .text-2 {
        background-color: #fbdc00;
        top: 106px;
        left: 50%;
        transform: translateX(-50%);
    }

    .ionSlide3 .text-2:before {
        border-top: 15px solid #fbdc00;
    }

    .ionSlide3 .text-3 {
        background-color: #d95eb4;
        top: 172px;
        left: 50%;
        transform: translateX(-50%);
    }

    .ionSlide3 .text-3:before {
        border-top: 15px solid #d95eb4;
    }

    .ionSlide3 .text-4 {
        background-color: #fb9c12;
        top: 255px;
        left: 50%;
        transform: translateX(-50%);
    }

    .ionSlide3 .text-4:before {
        border-top: 15px solid #fb9c12;
    }

    .ionSlide4 .text-1 {
        background-color: #3dc5e1;
        bottom: 70px;
        left: 10px;
    }

    .ionSlide4 .text-1:before {
        border-top: 15px solid #3dc5e1;
    }

    .ionSlide5 .text-1 {
        background-color: #f7dd1b;
        bottom: 70px;
        left: 90px;
    }

    .ionSlide5 .text-1:before {
        border-top: 15px solid #f7dd1b;
    }

    .ionSlide6 .text-1 {
        background-color: #d95eb4;
        bottom: 70px;
        right: 7px;
    }

    .ionSlide6 .text-1:before {
        border-top: 15px solid #d95eb4;
    }

    .ionSlide7 .text-1 {
        background-color: #fb9c12;
        bottom: 70px;
        right: 7px;
    }

    .ionSlide7 .text-1:before {
        border-top: 15px solid #fb9c12;
        left: 95px;
    }

    .ionSlide8 .text-1 {
        background-color: #27b93f;
        bottom: 70px;
        right: 7px;
    }

    .ionSlide8 .text-1:before {
        border-top: 15px solid #27b93f;
        left: 155px;
    }

    .ionSlide9 .top-box{
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .ionSlide9 p {
        padding: 20px;
    }


}