page-tutorial {
    
    .toolbar-title.toolbar-title-md,
    .toolbar-title.toolbar-title-ios,
    .toolbar-title.toolbar-title-wp {
        color: color($colors, green);
        text-align: center;
    }

    .active {
        background-color: rgba(50, 219, 100, 0.42);
    }


}
