.toolbar-title.toolbar-title-md,
.toolbar-title.toolbar-title-ios,
.toolbar-title.toolbar-title-wp {
    color: color($colors, light);
    text-align: center;
}

.step {
    background-color: color($colors, inactive);
    color: color($colors, light);
    text-align: center;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    vertical-align: middle;
    display: table-cell;
}

.active {
    background-color: color($colors, secondary);
}
