.pimpMyCarrocaContent{
    ion-slide{
        img{
            width: 80%;
            margin: 0px auto;
            display: block;
        }
    }
    .ionSlide1{
        p{
            strong{
                color: #000;
            }
        }
    }
    .ionSlide2{
        h4{
            br{
                display: block;
            }
        }
    }
}