<!-- <ion-header>
    <ion-navbar>
    </ion-navbar>
</ion-header> -->


<ion-content id="perfil-catador-content">

    <div [hidden]="!catadorImg">     
        <div class="profile-header-background"></div>
        <img src="{{ catadorImg }}" class="img-profile" (error)="photoOnError()">
    </div>
    <div *ngIf="!catador?.profile_photo" style="margin-top: 50px !important"></div>
    
    <h1 text-center class="catador-name">{{ catador?.name }}</h1>
    <div *ngIf="catador?.nickname">
        <h3 text-center class="catador-nickname">({{ catador?.nickname }})</h3>
    </div>
    <br />

    <div *ngIf="catador?.presentation_phrase">
        <h2 text-center>"{{ catador?.presentation_phrase }}"</h2>
    </div>

    <div *ngIf="catador?.phones[0]?.phone">
        <h2 text-center>{{ catador?.phones[0]?.phone }}</h2>
    </div>

    <hr>
    
    <ion-row *ngIf="catador?.phones?.length" id="phones" >
        <ion-col col-6 class="col-center">
            <a text-center href="https://api.whatsapp.com/send?phone={{ catador.phones[0].phone }}&text=Ol%C3%A1%20catador,%20quero%20confirmar%20a%20minha%20coleta%20com%20voc%C3%AA">
                <img src="assets/img/Icones_mapamenu-11.png" alt="Whats app" width="40%">
            </a>
        </ion-col>
        <ion-col col-6 class="col-center">
            <img src="assets/img/Icones_mapamenu-12.png" alt="Telefone" width="40%" (click)="launchPhone(catador?.phones[0]?.phone)">
        </ion-col>
    </ion-row>

    <hr>

    <div *ngIf="catador?.region">
        <h3 text-center style="color: black">Locais onde coleta:</h3>
        <h3 text-center>{{ catador?.region }}</h3>
    </div>

    <h2 text-center style="color: black">TRABALHA RECICLANDO</h2>

    <ion-row class="row-center">
        <ion-col col-3 *ngFor="let material of material_list">
            <img src="assets/img/{{ material.icon }}" alt="{{ material.name }}" width="80%" class="material-img">
            <p text-center>{{ material.name }}</p>
        </ion-col>
    </ion-row>
    <br />

    <div *ngIf="catador?.minibio">
        <p text-center class="catador-minibio">
            <span *ngIf="showCompleteMinibio">
                {{ catador.minibio }}
            </span>
            <span *ngIf="!showCompleteMinibio">
                {{ catador?.minibio.substr(0, minibioMaxSize) }}...
            </span>
        </p>
        <p text-center *ngIf="catador?.minibio.length > minibioMaxSize">
            <a (click)="learnMore()" class="catador-minibio-more">
                <span *ngIf="!showCompleteMinibio">CLIQUE PARA LER MAIS</span>
                <span *ngIf="showCompleteMinibio">CLIQUE PARA LER MENOS</span>
            </a>
        </p>
    </div>

    <!-- <ion-row *ngIf="catador?.region" class="row-center">
        <ion-col col-4 class="col-right">
            <img src="assets/img/Icones_mapamenu-15.png" class="icon-map-region" alt="Pin Mapa">
        </ion-col>    
        <ion-col col-8>
            <h2 class="catador-region-text" class="text-map-region">{{ catador?.region }}</h2>
        </ion-col>    
    </ion-row> -->

    <ion-row class="row-center">
        <div id="perfil-catador">
            <h1>+ Perfil</h1>
            <p>{{ catador?.name }} coleta em média</p>
            <h2>{{ catador?.kg_day }} kg/dia</h2>
            <p>Até hoje a estimativa é de que já tenha coletado</p>
            <h2>{{ catador?.kg_day * catadorDiasTrabalhados}}/kg</h2>
            <p>de recicláveis!</p>
        </div>

    </ion-row>

    <br />
    <ion-row>
        <ion-col col-12 class="col-center">
            <h3 text-center>CARROÇA EQUIPADA COM </h3>
            <img src="assets/img/catador_verde.png" width="30%" alt="Kit carroça">
        </ion-col>
    </ion-row>

    <ion-row class="row-center">
        <ion-list>                
            <ion-item class="transparent" text-wrap>
                <ion-thumbnail item-left *ngIf="catador?.carroca_pimpada">
                    <img src="assets/img/Checkbox2.png">
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="!catador?.carroca_pimpada">
                    <img src="assets/img/Checkbox1.png">
                </ion-thumbnail> 
                <p class="safety-kit-label">Carroça grafitada/pimpada?</p>
            </ion-item>
            <!-- <ion-item class="transparent">
                <ion-thumbnail item-left *ngIf="catador?.has_smartphone_with_internet">
                    <img src="assets/img/Checkbox2.png">
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="!catador?.has_smartphone_with_internet">
                    <img src="assets/img/Checkbox1.png">
                </ion-thumbnail>
                <p class="safety-kit-label">Smartphone e Internet</p>
            </ion-item>
            <ion-item class="transparent">
                <ion-thumbnail item-left *ngIf="catador?.has_motor_vehicle">
                    <img src="assets/img/Checkbox2.png">
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="!catador?.has_motor_vehicle">
                    <img src="assets/img/Checkbox1.png">
                </ion-thumbnail>
                <p class="safety-kit-label">Motor</p>
            </ion-item>
            <ion-item class="transparent">
                <ion-thumbnail item-left *ngIf="catador?.safety_kit_boot">
                    <img src="assets/img/Checkbox2.png">
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="!catador?.safety_kit_boot">
                    <img src="assets/img/Checkbox1.png">
                </ion-thumbnail>
                <p class="safety-kit-label">Bota</p>
            </ion-item>
            <ion-item class="transparent">
                <ion-thumbnail item-left *ngIf="catador?.safety_kit_gloves">
                    <img src="assets/img/Checkbox2.png">
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="!catador?.safety_kit_gloves">
                    <img src="assets/img/Checkbox1.png">
                </ion-thumbnail>
                <p class="safety-kit-label">Luva</p>
            </ion-item>
            <ion-item class="transparent">
                <ion-thumbnail item-left *ngIf="catador?.safety_kit_brakes">
                    <img src="assets/img/Checkbox2.png">
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="!catador?.safety_kit_brakes">
                    <img src="assets/img/Checkbox1.png">
                </ion-thumbnail>
                <p class="safety-kit-label">Freios</p>
            </ion-item>
            <ion-item class="transparent">
                <ion-thumbnail item-left *ngIf="catador?.safety_kit_reflective_tapes">
                    <img src="assets/img/Checkbox2.png">
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="!catador?.safety_kit_reflective_tapes">
                    <img src="assets/img/Checkbox1.png">
                </ion-thumbnail>
                <p class="safety-kit-label">Fitas Refletivas</p>
            </ion-item>   
            <ion-item class="transparent">
                <ion-thumbnail item-left *ngIf="catador?.safety_kit_rearview">
                    <img src="assets/img/Checkbox2.png">
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="!catador?.safety_kit_rearview">
                    <img src="assets/img/Checkbox1.png">
                </ion-thumbnail>
                <p class="safety-kit-label">Retrovisor</p>
            </ion-item> -->
        </ion-list> 
    </ion-row>

    <p text-center>
        <a style="text-decoration: underline;">ATUALIZAR CADASTRO</a>
    </p>

</ion-content>