page-perfil-catador {
    ion-header {
        text-align: center;
    }
    ion-header img {
        position: absolute;
        margin-top: -12%;
        width: 30%;
        height: auto;
        left: 30%;
        border-radius: 50%;
    }

    ion-content {
        padding-top: 1%;
        background-image: url(/assets/img/map.jpg)!important;
        overflow-x: hidden;
        padding-left: 0px;
        padding: 0px;
    }

    p a {
        color: color($colors, green);
    }

    a {
        color: color($colors, grey);
        font-size: 1.5em;
    }

    h1 {
        font-size: 3em;
    }

    #perfil-catador {
        background-image: url('../assets/img/papelao.png') !important;
        background-size: 120%;
        background-repeat: no-repeat;
        background-position: top; 
        min-height: 70%;
        padding: 5%;
        padding-top: 20%;
        padding-bottom: 25%;

        h1 {
            font-size: 3em;
            text-align: center;
        }

        h2, p {
            text-align: center;
        }

        p { 
            line-height: 15px;
        }
    }

   .item-md ion-thumbnail img, .item-ios ion-thumbnail img {
        width: 40px;
        height: 40px;
    }

    .item-md ion-thumbnail, .item-ios ion-thumbnail {
        min-width: 10px;
        min-height: 10px;
    }

    .item-md.item-block .item-inner,
    .item-ios.item-block .item-inner {
        border: none;
    }

    #phones {
        margin-bottom: 20%;
    }

}


.img-profile {
    border-radius: 50%;
    display:block;
    margin:auto;
    object-fit: cover;
    width: 150px;
    height: 150px;
}

.catador-name {
    font-size: 3em;
}

.catador-minibio {
    font-size: 20px;
}

.catador-minibio-more {
    font-size: 22px;
    color: #ccc;
    text-decoration: underline;
}

.row-center {
    display: flex;
    justify-content: center;
}

.material-img {
    display:block;
    margin:auto;
    opacity: 0.4;
    filter: alpha(opacity=50);
}

.catador-region-text {
    font-size: 20px;
    vertical-align: middle;
}

.col-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.transparent {
    background-color: transparent;
}