page4-tutorial {
    strong {
        color: color($colors, secondary);
        font-size: 2em;
        font-family: "DIN-Regular";
    }

    h2 {
        color: color($colors, secondary);
        font-size: 3em;
    }
}